<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Timeify</title>
</head>
<body>
<div class="flex justify-center">
    <div class="m-8 bg-gradient-to-r from-white_grad1 to-white_grad2 backdrop-blur-lg shadow-lg w-5/6 h-max rounded-2xl pb-16">
        <!-- nav bar -->

        <div class="flex  justify-between bg-transparent_white w-full h-14 rounded-t-2xl ">
            <div class="flex">
                <a class="" href="/home">
                    <img src="Logo.svg" class="p-2 h-14"></img>
                </a>
            </div>
            <div class="justify-end pt-3">


                <a class="hover:text-xl pr-6 font-montserrat font-bold text-main-green text-lg" href="/generate">Generate</a>

                <a class="hover:text-xl pr-6 font-montserrat font-bold text-main-green text-lg" href="/load">Load</a>

            </div>

        </div>

        <p class="flex justify-center p-8 font-montserrat font-bold text-4xl text-main-green">Welcome <%= userID ;%>!</p>

        <div class="flex justify-center">
            <p class="w-1/2 text-center p-8 font-montserrat text-2xl text-main-green">Would you like to generate a new
                timed playlist or load a pre-existing timer?</p>
        </div>
        <div class="flex justify-center ">

            <div class="text-slate-50 text-center font-bold px-9 bg-dark-gray hover:bg-dark-gray
                                            rounded-xl drop-shadow-md py-5 w-40 m-8">
                <a class=" whitespace-pre-line text-xl" href="/generate"> Generate
                </a>


            </div>

            <div class="text-slate-50 text-center font-bold px-9 bg-dark-gray hover:bg-dark-gray
                                        rounded-xl drop-shadow-md py-5 w-40 m-8">
                <a class=" whitespace-pre-line text-xl" href="/load"> Load
                </a>

            </div>
        </div>
    </div>
</div>
</body>
</html>
