<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for tailwind (uncomment when ready to use) -->
    <link rel="stylesheet" href="/styles.css">

    <title>Choose A Playlist Length</title>
</head>

<body>
<div class="flex justify-center">

    <div class="main">
        <p id="songs" class="hidden"> <%= songs ;%></p>
        <p id="title" class="hidden"> <%= playlistTitle ;%></p>
        <div class="navbar">
            <a href="/home" aria-label="Timeify Home">
                <img src="Logo.svg" class="p-2 h-14" alt="Timeify"/>
            </a>
            <div class="justify-end pt-3">

                <a class="hover:text-xl pr-6 font-bold text-main-green text-lg underline decoration-2 underline-offset-1"
                   href="/generate">Generate</a>
                <a class="hover:text-xl pr-6 font-bold text-main-green text-lg" href="/load">Load</a>

            </div>
        </div>

        <div class="flex-col justify-center">
            <p id="hd2" class="text-center text-lg font-montserrat font-bold pt-3">Choose which generated playlist you want. <br>Do you want slightly under or over/equal to </h3>
            <p id="header" class="text-center text-lg font-montserrat">The playlist you choose will be added to your Spotify account.</h3>

        </div>

        <div class="flex">
            <!-- lower option -->
            <div class="flex flex-col items-center w-1/2  ">
                <div id="optionLowerList"class="bg-playlist-gray w-4/5 h-96 justify-end py-2 px-6 rounded-2xl overflow-auto m-4">
                    <img id="loading1" class = "w-full"src = "/loading_circles.svg" alt="Loading svg"/>



                </div>
                <button id="option1Btn" class=' bg-dark-gray text-white rounded-xl p-3'>Use Option 1</button>

            </div>

            <!-- higher option -->

            <div class="flex flex-col items-center w-1/2  ">
                <div id="optionHigherList"class="bg-playlist-gray w-4/5 h-96 justify-end py-2 px-6 rounded-2xl overflow-auto m-4">
                    <img id = "loading2" class = "w-full"src = "/loading_circles.svg" alt="Loading svg"/>



                </div>
                <button id="option2Btn" class=' bg-dark-gray text-white rounded-xl p-3'>Use Option 2</button>

            </div>

        </div>

    </div>
</div>

<script src="/playlists.js"></script>
</body>

</html>
